{% autoescape off %}
Здравствуйте,

Вы получили это письмо, потому что кто-то запросил сброс пароля для вашей учетной записи на сайте Расписание Областной Больницы.

Пожалуйста, перейдите по следующей ссылке и выберите новый пароль:
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

Ваше имя пользователя (email): {{ user.email }}

Если вы не запрашивали сброс пароля, вы можете проигнорировать это письмо.

С уважением,
Команда Расписание Областной Больницы
{% endautoescape %}